<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pine.dao.mysql.CategoryDaoMapper">
    <select id="queryCategoryListByPid" parameterType="java.lang.Long" resultType="com.pine.bean.dto.CategoryDO">
        SELECT  tb_category.name,tb_category.is_parent isParent,tb_category.sort,tb_category.id,tb_category.parent_id parentId
         FROM   tb_category
        WHERE  parent_id = #{id}
    </select>

    <select id="queryById" resultType="com.pine.bean.dto.CategoryDO">
        select *
        from tb_category
        where id in
        <foreach item = "id" collection="list" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>
