<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pine.dao.mysql.GoodsDaoMapper">
    <select id="querySpuByPage" resultType="com.pine.bean.vo.SpuBean">
        SELECT tb_spu.id,
                tb_spu.title,
                tb_spu.sub_title subTile,
                tb_spu.cid1,
                tb_spu.cid2,
                tb_spu.cid3,
                tb_spu.brand_id brandId,
                tb_spu.saleable,
                tb_spu.create_time createTime,
                tb_spu.sub_title subTitle
        FROM   tb_spu
        WHERE 1 = 1
        <if test="key != null">
             and title like "%"#{key}"%"
        </if>
        <if test="saleable != null and !saleable">
             and saleable = 0
        </if>
        order by  create_time DESC

    </select>
</mapper>